<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="script/vue.js"></script>

</head>
<body>
<table id="appTable">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>专业</th>
    </tr>
    <tr v-for="employee in employeeList">
        <td>{{employee.empId}}</td>
        <td>{{employee.empName}}</td>
        <td>{{employee.empAge}}</td>
        <td>{{employee.empSubject}}</td>
    </tr>
</table>

<!-- 四个文本框、显示收集到的文本框数据的p标签、按钮这三个部分需要共享数据，所以要放在同一个app中 -->
<div id="appDiv">

    <!-- 第一部分：四个文本框 -->
    编号：<input type="text" v-model="empId" placeholder="请输入编号" /><br/>
    姓名：<input type="text" v-model="empName" placeholder="请输入姓名" /><br/>
    年龄：<input type="text" v-model="empAge" placeholder="请输入年龄" /><br/>
    专业：<input type="text" v-model="empSubject" placeholder="请输入专业" /><br/>

    <!-- 第二部分：显示收集到的文本框数据的p标签 -->
    <p>{{empId}} {{empName}} {{empAge}} {{empSubject}}</p>

    <!-- 第三部分：按钮 -->
    <button type="button" v-on:click="addRecord">添加记录</button>

</div>
<script language="JavaScript">
    var appTable = new Vue({
        "el": "#appTable",
        "data": {
            "employeeList": [{
                "empId": 1,
                "empName": "tom",
                "empAge": 11,
                "empSubject": "java"
            },
                {
                    "empId": 2,
                    "empName": "jerry",
                    "empAge": 22,
                    "empSubject": "php"
                },
                {
                    "empId": 3,
                    "empName": "peter",
                    "empAge": 33,
                    "empSubject": "python"
                }
            ]
        }
    });

    var appDiv = new Vue({
        "el":"#appDiv",
        "data":{
            // 初始值设置空字符串即可
            "empId":"",
            "empName":"",
            "empAge":"",
            "empSubject":""
        },
        "methods":{
            "addRecord":function(){

                // 确认单击事件是否绑定成功
                console.log("我点击了那个按钮……");

                // 确认是否能够正确收集到文本框数据
                console.log(this.empId);
                console.log(this.empName);
                console.log(this.empAge);
                console.log(this.empSubject);

                // 将收集到的文本框数据封装为一个对象
                var employee = {
                    "empId":this.empId,
                    "empName":this.empName,
                    "empAge":this.empAge,
                    "empSubject":this.empSubject
                };

                // 将上面的对象压入表格数据的employeeList数组
                appTable.employeeList.push(employee);
            }

        }
    });
</script>
</body>
</html>